{% extends 'layout.html' %}


{% block title %}
    {{ title }}
{% endblock title %}



{% block navigation %}


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for( 'Main.index' ) }}">NextFarm</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link" href=" {{ url_for('Auth.farmer_register') }} "> Join </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href=" {{ url_for('Auth.farmer_login') }} ">SignIn</a>
            </li>   
            <li class="nav-item">
            <a class="nav-link" href="#">Our Services</a>
            </li>

        </ul>
        </div>
    </div>
</nav>

{% endblock navigation %}


{% block body %}


    <div> 
        <form action="" method='POST'>

            {{ form.hidden_tag() }}


            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control") }}

            {% if form.email.errors %}
                {% for error in form.email.errors %}
                    <span> {{ error }} </span>
                {% endfor %}
            {% endif %}
            
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control") }}

            {% if form.password.errors %}
                {% for error in form.password.errors %}
                    <span> {{ error }} </span>
                {% endfor %}
            {% endif %}

            

            <div class="form-check">
                {{ form.remember_me.label(class="form-check-label") }}
                {{ form.remember_me(class="form-check-input") }}
            </div>
            {{ form.submit(class="btn btn-outline-primary") }} 
            
            <div>
                <a href="{{ url_for('Auth.reset_request') }}">Forgot Password?</a>
            </div>
        </form>
    </div>

{% endblock body %}
